In [6]:
import pandas as pd

from itemloaders.processors import TakeFirst, MapCompose, Join, Compose

In [8]:
pd.read_csv('CrawlSpidercomparis/comparis/spiders/real-estate2.csv')

,address,available_from,balcony,contruction_year,dishwasher,dryer,elevator,floors,parking_ext,parking_int,price,rooms,sq_meters,tv,type,wash_m
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8005 Zürich 8005 Zürich,À convenir,NaN,2011.0,NaN,NaN,True,21. étage,True,True,sur demande,11.0,603.0,NaN,Appartement,NaN
2,Turbinenstrasse 21 8005 Zürich,À convenir,True,2015.0,NaN,NaN,True,1. étage,True,True,2'180'000,3.5,108.0,True,Appartement,NaN
3,8005 Zürich,À convenir,NaN,2013.0,NaN,NaN,True,17. étage,True,NaN,2'590'000,3.5,120.0,NaN,Appartement,NaN
4,8005 Zürich,À convenir,True,2004.0,NaN,NaN,True,Non disponible,NaN,True,1'840'000,2.5,84.0,True,Appartement,NaN
5,8005 Zürich,À convenir,NaN,2005.0,NaN,NaN,True,4. étage,True,NaN,2'050'000,2.5,105.0,NaN,Loft,NaN

In [4]:
proc = Compose(lambda v: v[0], str.upper)

In [5]:
proc(['hello','world'])

'HELLO'